<div class="page-footer-hr"></div>
<div class="page-footer">
    <div class="page-footer-cont cont-max-width">
        <div class="left-section">&copy; Tronmint {{current_year}}. All Rights Reserved</div>
        <div class="right-section">
            <ul class="social-media-list">
                <li><a href="https://t.me/twofficiall"><i class="icon fab fa-telegram"></i></a></li>
                <li><a href="https://twitter.com/Tronwage1"><i class="icon fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</div>