{{>header}}
<div id="home-view" class="remove-elem">
    <div class="page-upper-section">
        <div class="headline-bg-image cont-max-width"></div>
        <div class="headline-bg-image-filter"></div>
        <div class="headline-cont cont-max-width">
            <h1 class="headline">
                <span style="color: #abd9e0;">Staking platform made for you.</span> 
                Financial success is just the beginning.
            </h1>
            <div class="sub-headline-stroke"></div>
            <h2 class="sub-headline">
                Tronmint is an automated and secured staking platform 
                powered by Tron blockchain technology, trusted by the community around the world.
            </h2>
            <a class="view-contract-link" href="https://tronscan.org/#/contract/TNUXomWo7PgmxQ9CBq5dofNoTyeKMeDZPJ">View contract</a>
            <div class="headline-stat-cont">
                <div class="total-stake-label">
                    <div class="label-cont">
                        <div class="content">0.00</div>
                        <div class="title">TRX deposited</div>
                    </div>
                </div>
                <div class="total-withdrawn-label">
                    <div class="label-cont">
                        <div class="content">0.00</div>
                        <div class="title">TRX withdrawn</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section-1">
        <div class="section-cont cont-max-width">
            <h2 class="section-title">Why Tronmint?</h2>
            <div class="section-title-divider"></div>
            <h3 class="section-caption">
                Tronmint was designed to solve the problems that impact traditional 
                MLM (Multilevel marketing) programs. That is why Tronmint takes 
                leverage of blockchain technology to mitigate these problems and 
                put the power in your hands.
            </h3>
            <div class="grid-list-cont">
                <div class="grid-list">
                    <div class="why-us-list-cont">
                        <div class="featured-img-cont">
                            <img src="./images/background/security_bg_img.png" alt="shield and staked servers"/>
                        </div>
                        <h3 class="heading">Security &amp; Privacy</h3>
                        <p class="description">
                            We know that security and privacy are not only important but also vital for Tronmint 
                            to succeed and meet its community target. To achieve these goals we rely 
                            on Tron blockchain technology, which is inheritable secure, immutable, 
                            and anonymous.
                        </p>
                    </div>
                </div>
                <div class="grid-list">
                    <div class="why-us-list-cont">
                        <div class="featured-img-cont">
                            <img src="./images/background/scalability_bg_img.png" alt="tower of data servers" />
                        </div>
                        <h3 class="heading">Scalability &amp; Availability</h3>
                        <p class="description">
                            Tronmint was designed to be resilient as possible since is self-automated, 
                            not supervised or managed by anyone. One of the ways to achieve this is to 
                            write the staking system using the Tron blockchain technology that is scalable 
                            and decentralized.
                        </p>
                    </div>
                </div>
                <div class="grid-list">
                    <div class="why-us-list-cont">
                        <div class="featured-img-cont">
                            <img src="./images/background/transparency_bg_img.png" alt="magnify glass and transparent box" />
                        </div>
                        <h3 class="heading">Transparency</h3>
                        <p class="description">
                            Transparency has been the Tronmint number one design priority. 
                            The stake system is written in solidity, deployed on the Tron 
                            blockchain network, and can not be modified. Transaction and 
                            stake activities are recorded on the Tronscan public ledger 
                            (blockchain).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section-2">
        <div class="section-cont cont-max-width">
            <h2 class="section-title">How it works?</h2>
            <div class="section-title-divider"></div>
            <div class="grid-list-cont column-2">
                <div class="grid-list">
                    <div class="getting-started-cont">
                        <div class="label-cont">
                            <div class="numbering-cont">
                                <div class="showdow"></div>
                                <div class="number">1</div>
                            </div>
                        </div>
                        <div class="instruction-cont">
                            <h3 class="title">Setup a wallet.</h3>
                            <p class="content">
                                Before you start, you have to set up a Tron wallet that supports dApp. 
                                We recommend <a href="https://tronlink.org" target="_blank">TronLink pro</a> 
                                for mobile.  If you're using a desktop, you can install the chrome 
                                <a href="https://chrome.google.com/webstore/detail/tronlink/ibnejdfjmmkpcnlpebklmnkoeoihofec" target="_blank">TronLink extension</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-list">
                    <div class="getting-started-cont">
                        <div class="label-cont">
                            <div class="numbering-cont">
                                <div class="showdow"></div>
                                <div class="number">2</div>
                            </div>
                        </div>
                        <div class="instruction-cont">
                            <h3 class="title">Bandwidth &amp; Energy.</h3>
                            <p class="content">
                                <a href="https://tron7010.zendesk.com/hc/en-us/articles/360033213712-About-TRON-bandwidth-and-energy" target="_blank">Bandwidth and energy</a> are needed to process the transaction. 
                                If you don't have enough bandwidth and energy, an equivalent amount of TRX 
                                will be burned on the process, or else the transaction will fail.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-list">
                    <div class="getting-started-cont">
                        <div class="label-cont">
                            <div class="numbering-cont">
                                <div class="showdow"></div>
                                <div class="number">3</div>
                            </div>
                        </div>
                        <div class="instruction-cont">
                            <h3 class="title">Fund your account.</h3>
                            <p class="content">
                                Before staking, you must fund your Tronmint account by depositing a TRX coin.
                                TRX coin in your Tronmint account can't be tampered with, 
                                only you have access to it. You can withdraw all the TRX in your 
                                account balance anytime you want.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-list">
                    <div class="getting-started-cont">
                        <div class="label-cont">
                            <div class="numbering-cont">
                                <div class="showdow"></div>
                                <div class="number">4</div>
                            </div>
                        </div>
                        <div class="instruction-cont">
                            <h3 class="title">Staking TRX.</h3>
                            <p class="content">
                                The minimum amount is 100 TRX and the maximum is 100,000 TRX for each stake. 
                                Tronmint offers four packages you can choose from with a daily profit of 5% to 12.5%. 
                                Each stake costs 3% for the transaction fee, and 2% goes to the person that invited you. 
                                You can stake with a cap rate that increases your profit by 1.5x. 
                                Note that to stake with a cap rate locks the profit until the stake is due.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid-list">
                    <div class="getting-started-cont">
                        <div class="label-cont">
                            <div class="numbering-cont">
                                <div class="showdow"></div>
                                <div class="number">5</div>
                            </div>
                        </div>
                        <div class="instruction-cont">
                            <h3 class="title">Claim stake &amp; Withdrawal.</h3>
                            <p class="content">
                                If you stake without a cap rate, you can claim your profit every next 24 hours, 
                                or else you can only claim your profit at the end of the staking duration. When you claim, 
                                the profit is added to your account balance, which you can withdraw anytime you want. 
                                The system charges 10% as a transaction fee on every withdrawal.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section-3">
        <div class="section-cont cont-max-width">
            <div class="about-img-tw-cont">
                <div class="img-cont">
                    <img src="./images/background/about_tronwage.png" alt="community working together" />
                </div>
                <div class="write-up-cont">
                    <h2 class="section-title">About Tronmint?</h2>
                    <div class="section-title-divider"></div>
                    <p class="about-tw">
                        Tronmint is an investment platform where users can stake their Tron and get 
                        rewarded with more Tron base on their chosen stake duration. Tronmint is 
                        built by the community using the Tron smart contract, which is part of the 
                        Tron blockchain technology. Tronmint is designed to solve the problems that 
                        impact traditional MLM (Multilevel marketing) programs that relied on 
                        centralized structure and management, which expose investors to a different 
                        form of financial risk. Tronmint mitigated these problems by utilizing 
                        blockchain technology to build a decentralized staking platform, meeting 
                        the community requested standards such as; security, privacy, transparency, 
                        and not managed by anyone.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{>footer current_year = year}}
</div>
<div id="dashboard-section-cont" class="cont-max-width">
    <div id="side-nav-main-menu">
        <ul class="link-list hide">
            <li class="link-cont">
                <a class="link" href="/">
                    <div class="icon-cont">
                        <svg class="home-icon">
                            <use xlink:href="#home-icon"></use>
                        </svg>
                    </div>
                    <div class="item-cont">Home</div>
                </a>
            </li>
            <li class="link-cont">
                <a id="account-desk-link" class="link" href="/account">
                    <div class="icon-cont">
                        <svg class="user-account-icon">
                            <use xlink:href="#user-account-icon"></use>
                        </svg>
                    </div>
                    <div class="item-cont">Account</div>
                </a>
            </li>
            <li class="link-cont">
                <a id="stake-desk-link" class="link" href="/stake">
                    <div class="icon-cont">
                        <svg class="crypto-stake-icon">
                            <use xlink:href="#crypto-stake-icon"></use>
                        </svg>
                    </div>
                    <div class="item-cont">Stake</div>
                </a>
            </li>
        </ul>
    </div>
    <div id="account-view" class="remove-elem">
        <h1 class="page-section-title">Account</h1>
        <div class="account-cont">
            <div class="account-info-cont">
                <div class="referral-link-cont">
                    <div class="title">Referral Link</div>
                    <div class="link">Null</div>
                    <div class="copy-btn-cont">
                        <button class="copy-btn" onclick="copyReferralLink()">
                            <svg class="copy-icon">
                                <use xlink:href="#copy-icon"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="referral-id-cont">
                    <div class="title">Referral ID</div>
                    <div class="id">Null</div>
                    <div class="copy-btn-cont">
                        <button class="copy-btn" onclick="copyReferralID()">
                            <svg class="copy-icon">
                                <use xlink:href="#copy-icon"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="referred-user-cont">
                    <div class="title">Referred User</div>
                    <div class="data">0</div>
                </div>
                <div class="balance-info-cont">
                    <div class="account-balance">
                        <div class="crypto-amount">0 TRX</div>
                        <div class="fiat-amount">≈ $0</div>
                        <div class="title">Account Balance</div>
                    </div>
                    <div class="remaining-balance">
                        <div class="crypto-amount">0 TRX</div>
                        <div class="fiat-amount">≈ $0</div>
                        <div class="title">Remaining Balance</div>
                    </div>
                </div>
                <div class="deposit-withdraw-btn-cont">
                    <a href="/account/deposit" class="deposit-btn">Deposit</a>
                    <a href="/account/withdraw" class="withdraw-btn">Withdraw</a>
                </div>
            </div>
            <div class="deposit-withdraw-cont">
                <div class="navigate-back-btn-cont">
                    <button class="navigate-back-btn" onclick="navigateBack()">
                        <svg class="navigate-back-icon">
                            <use xlink:href="#navigate-back-icon"></use>
                        </svg>
                    </button>
                </div>
                <input id="deposit-withdraw-checkbox-toggle" type="checkbox" />
                <div class="tab-btn-cont">
                    <button class="tab-1 active" onclick="accountDepositTab(this)">Deposit</button>
                    <button class="tab-2" onclick="accountWithdrawTab(this)">Withdraw</button>
                </div>
                <div class="amount-input-cont">
                    <input id="wd-amount-input" name="withdraw-deposit-amount" type="text" placeholder="Amount" />
                    <div class="currency">TRX</div>
                </div>
                <div class="amount-select-percent-cont">
                    <div class="select-percent">
                        <div class="indicator"></div>
                        <div class="percent-symbol">25%</div>
                    </div>
                    <div class="select-percent">
                        <div class="indicator"></div>
                        <div class="percent-symbol">50%</div>
                    </div>
                    <div class="select-percent">
                        <div class="indicator"></div>
                        <div class="percent-symbol">75%</div>
                    </div>
                    <div class="select-percent">
                        <div class="indicator"></div>
                        <div class="percent-symbol">100%</div>
                    </div>
                </div>
                <div class="wallet-balance-info-cont">
                    <div class="symbol">Wbl</div>
                    <div class="amount">0 TRX</div>
                </div>
                <div class="account-balance-info-cont">
                    <div class="symbol">Acbl</div>
                    <div class="amount">0 TRX</div>
                </div>
                <button class="execute-btn">
                    <span class="deposit-title">Deposit TRX</span>
                    <span class="withdraw-title">Withdraw</span>
                </button>
                <div class="deposit-charge-percent">Deposit Fee: 0%</div>
                <div class="withdraw-charge-percent">Withdraw Fee: 10%</div>
            </div>
        </div>
    </div>
    <div id="stake-view" class="remove-elem">
        <h1 class="page-section-title">Stake</h1>
        <div class="stake-cont">
            <div class="stake-info-cont">
                <div class="amount-profit-cont">
                    <div class="amount-staked-cont">
                        <div class="crypto-amount">0 TRX</div>
                        <div class="fiat-amount">≈ $0</div>
                        <div class="title">Amount Staked</div>
                    </div>
                    <div class="staked-profit-cont">
                        <div class="crypto-amount">0 TRX</div>
                        <div class="fiat-amount">≈ $0</div>
                        <div class="title">Stake Profit</div>
                    </div>
                </div>
                <div class="stake-count-cont">
                    <div class="stake-count">0</div>
                    <div class="title">Number of Stake</div>
                </div>
                <div class="stake-amount-btn-cont">
                    <a href="/stake/stake_input" class="stake-amount-btn">Stake</a>
                </div>
            </div>
            <div class="staking-cont">
                <div class="navigate-back-btn-cont">
                    <button class="navigate-back-btn" onclick="navigateBack()">
                        <svg class="navigate-back-icon">
                            <use xlink:href="#navigate-back-icon"></use>
                        </svg>
                    </button>
                </div>
                <form name="place-stake-form" onsubmit="return placeStakeForm(event)" autocomplete="off" spellcheck="false">
                    <div class="duration-capitalisation-cont">
                        <div class="durection-select-cont">
                            <label class="input-label">Duration</label>
                            <div id="select-stake-duration" class="ud-select">
                                <input class="target" type="hidden" name="stake-duration" value="14">
                                <div class="select" tabindex="0" autofocus="true">
                                    <span class="selected">5% daily for 14 days</span>
                                </div>
                                <div class="select-menu close">
                                    <div class="option-list-wrapper">
                                        <ul class="option-list">
                                            <li class="option active">
                                                <div class="value">5% daily for 14 days</div>
                                            </li>
                                            <li class="option">
                                                <div class="value">7.5% daily for 21 days</div>
                                            </li>
                                            <li class="option">
                                                <div class="value">10% daily for 28 days</div>
                                            </li>
                                            <li class="option">
                                                <div class="value">12.5% daily for 35 days</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="capitalisation-select-cont">
                            <label class="input-label">Cap Rate</label>
                            <div id="select-stake-cap" class="ud-select">
                                <input class="target" type="hidden" name="stake-cap" value="1.5">
                                <div class="select" tabindex="0" autofocus="true">
                                    <span class="selected">1.5x</span>
                                </div>
                                <div class="select-menu close">
                                    <div class="option-list-wrapper">
                                        <ul class="option-list">
                                            <!--
                                            <li class="option active">
                                                <div class="value">1x</div>
                                            </li>
                                            -->
                                            <li class="option active">
                                                <div class="value">1.5x</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="amount-input-cont">
                        <input id="stake-amount-input" name="stake-amount" type="text" placeholder="Amount" />
                        <div class="currency">TRX</div>
                    </div>
                    <div class="amount-select-percent-cont">
                        <div class="select-percent">
                            <div class="indicator"></div>
                            <div class="percent-symbol">25%</div>
                        </div>
                        <div class="select-percent">
                            <div class="indicator"></div>
                            <div class="percent-symbol">50%</div>
                        </div>
                        <div class="select-percent">
                            <div class="indicator"></div>
                            <div class="percent-symbol">75%</div>
                        </div>
                        <div class="select-percent">
                            <div class="indicator"></div>
                            <div class="percent-symbol">100%</div>
                        </div>
                    </div>
                    <div class="balance-info-cont">
                        <div class="symbol">Acbl</div>
                        <div class="amount">0 TRX</div>
                    </div>
                    <button type="submit" class="stake-btn">Place Stake</button>
                    <div class="charge-percent">Stake Fee: 5%</div>
                </form>
            </div>
        </div>
        <h1 class="page-section-title">My Stakes</h1>
        <div id="no-active-stake-notice">You have no active stake.</div>
        <div id="active-stakes-cont" class="stake-list-cont remove-elem"></div>
    </div>
</div>

<!--import web svg library here-->
{{>tronwage_svg_icons}}